.searchinfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.searchinfo_item {
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}
