.search_label {
  font-size: 20px;
  font-style: italic;
  color: #fff;
}
.search_input {
  border-radius: 8px;
  border: 1px solid #000;
  padding: 10px 5px;
  width: 300px;
  margin: 0 20px;
}
.search_input::placeholder {
  font-family: 'Codystar';
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.search_button {
  font-style: italic;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  position: relative;
  padding: 9px 30px 10px 5px;
  border-radius: 10px;
}
.search_button::after {
  position: absolute;
  content: '';
  background: url('../../assets/death-star.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.search_form {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
