.app_container {
  background: url('./assets/bg_starwars.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.results_section {
  display: flex;
  position: relative;
}

.detail_section {
padding: 10px;
order: -1;
}